* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: hsla(0, 0%, 100%, .5);
  text-decoration-style: dotted;
}

a:hover {
  color: #ffffff;
}

#hextext {
  margin: auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 150px;
}

#footer {
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: hsla(0, 0%, 100%, .9);
  text-align: center;
  line-height: 18px;
}

#heart {
  color: #e60000;
}

#github {
  color: #00ffff;
}

@media only screen and (max-width: 700px) {
  #hextext {
    font-size: 20vw;
  }
}